/* FORM */

.fp {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.fp div {
    width: 100%;
}

.mt-36 {
	margin-top: 36px;
}

.container-xs {
	width: 100%;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.text-center {
	text-align: center;
}

.form {
	display: block;
	width: 80%;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	padding: 36px 0px;
}

.form-field {
	overflow: hidden;
	display: block;
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px solid var(--secondary-bg-color);
	margin-bottom: 12px;
}

.form-label {
	position: relative;
	display: block;
	height: 36px;
	padding: 6px 0px;
	background: transparent;
	font-family: var(--main-font-family);
}

.form-label input {
	position: absolute;
	border: none;
	outline: none;
	top: 50%;
	height: 24px;
	width: 100%;
	background: transparent;
	color: var(--main-color);
	font-family: var(--main-font-family);
	transform-origin: left;
	transform: translateY(-50%);
	transition: transform ease-in-out .1s;
}

.form-label span {
	position: absolute;
	top: 55%;
	left: 3px;
	z-index: 1;
	color: var(--secondary-bg-color);
	transform-origin: left;
	transform: translateY(-50%);
	transition: transform ease-in-out .1s;
}

.form button {
	border: none;
	outline: none;
	width: 100%;
	padding: 12px 0px;
	background-color: var(--main-color);
	color: var(--main-bg-color);
	font-size: 12px;
	font-family: var(--main-font-family);
}