div.game-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 800px;
  margin: auto;

  .game-container-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    min-width: 100%;

    button {
      @include btn;
      background-color: $onl-color;
      color: $main-color;
      // &.active {
      //   background-color: $sec-color;
      // }
    }
  }

  .container {
    display: flex;
    flex-direction: row;

    .user-list {
      width: auto;
      display: flex;
      flex-direction: column;
    }

    .game {
      display: flex;
      width: 800px;
      min-width: 800px;
      border: 1px solid $sec-color;

      canvas {
        align-self: center;

        min-width: 100%;
        max-width: 100%;
        aspect-ratio: 800 / 600;
      }
    }
  }

  .available-games {
    display: flex;
    flex-direction: row;
    border: 1px solid $sec-color;

    .available-game, .available-tournament {

      div.room {
        color: $main-color;

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .gameid {
        }

        .player-count {
        }

        .join {
        }
      }
    }
  }
}
