.list {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Enable vertical scrolling */
    flex-grow: 1;
}

.list > li {
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

/* Optional: Style to hide the scrollbar (only works in WebKit browsers like Chrome) */
.list::-webkit-scrollbar {
    width: 8px;
}

.list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}