#profile {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
    width: 100%;
    margin: auto;
}

/* Each grid item */
#profile > div {
    display: flex;
    flex-direction: column;

    padding: 10px 0px;

    overflow: hidden;
}

#profile__info {
    grid-column: span 8;
    height: 96px;
}

#profile__dashboard {
    grid-column: span 8;
    height: 200px;
}

#profile__dashboard > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profile__dashboard__winrate {
    height: 150px;
    width: 150px;

    position: relative;
}

#profile__dashboard__winrate p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

#profile__dashboard__winrate__indicator {
    --win-rate: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background: conic-gradient(
        var(--fifth-color) 0deg,
        var(--fifth-color) calc(var(--win-rate) * 3.6deg),
        var(--forth-color) calc(var(--win-rate) * 3.6deg)
    );
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 60%, black 61%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 60%, black 61%);
}

#profile__dashboard__winrate p {
    font-family: "Epilogue";
    font-weight: 600;
    font-size: 24px;
}

#profile__dashboard__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profile__games {
    grid-column: span 8;
}

.game_player {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: start;
}

.game_player > p {
    margin-left: 12px;
}

.game_score {
    size: 24px;
}

.game_opponent {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
}

.game_opponent > p {
    margin-right: 12px;
}

#profile__requests {
    grid-column: span 4;
}

#users {
    grid-column: span 4;
}

#friends {
    grid-column: span 8;
}

.list-container {
    position: relative;
    background: var(--main-bg-color);
    border-radius: 8px;
    height: 128px;
}

.list-container > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}