@import "reset.css";
@import "var.css";
@import "utils.css";
@import "nav.css";
@import "profile.css";
@import "registration.css";
@import "chat.css";
@import "chatroom.css";

body {
	background-color: var(--primary-color);
	
	font-family: "Epilogue";
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
p, a, li, span, button {
	font-family: var(--main-font-family);
	font-size: var(--default-font-size);
	color: var(--text-color);
}

#app {
	width: 100%;
	max-width: 800px;

	margin-left: auto;
	margin-right: auto;
}
