@import 'var';

body {
	background-color: $main-color;

	#app {
		@import 'game';
	}
}

h1 {
	font-family: $main-font;
	font-weight: 900;
	font-size: 20px;
	color: $sec-color;
	text-align: center;
}

h2, h3, h4, h5, h6,
p, a, li, span {
	font-family: $main-font;
	font-size: $def-font-size;
	color: $sec-color;
}

label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: $main-font;
	vertical-align: baseline;
	color: $sec-color;
}

#chatroom {
	position: relative;
	height: 90vh;
	width: 100%;
	max-width: 800px;
}

#messages {
	overflow-y: scroll;
	height: 95%;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

#messages::-webkit-scrollbar {
    display: none;
}

.message {
	width: fit-content;
	margin-bottom: 8px;
	padding: 8px 12px;
	border-radius: 10px;
	color: $def-color;
	.send {
		color: $sec-color;
	}
	.received {
		color: $onl-color;
	}
}

#background-canvas {
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

@import 'form';
@import 'nav';
@import 'reset';
@import 'utils';
