.hidden {
    display: none;
}

/* CONTAINER */
.flex {
    display: flex;
    align-items: center;
}

.flex-centered {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* BUTTTON */
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 12px;
    border-radius: 4px;
    
    background: var(--main-color);
    color: var(--main-bg-color);
    
    cursor: pointer;
    
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
}

button img {
    width: 12px;
    height: 12px; 
    
    margin-right: 4px;
    margin-top: -4px;
}


/* PROFILE */
.profile-picture {
    --size: 32px;
    height: var(--size);
    width: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 50%;
    border: 2px solid rgba(218, 218, 218, 0.5);
}

.profile-picture img {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture--large {
    --size: 64px;
}

/* TEXT */
.text-900 {
    font-size: 24px;
    font-weight: 700;
}

.text-700 {
    font-size: 18px;
    font-weight: 400;
}

.text-600 {
    font-size: 16px;
    font-weight: 400;
}