{% extends 'index.html' %}
{% load static %}
{% block title %}Signup{% endblock %}

{% block content %}
<div data-title="Signup">
	{% include 'navbar.html' %}

	<div class="border--box">
		<form class="form" method="POST">
			{% csrf_token %}
			<div class="form--field--wrapper">
				<label class="form--field--label">
					{{ form.username }}
					<span>Username</span>
				</label>
			</div>
			
			<div class="form--field--wrapper">
				<label class="form--field--label">
					{{ form.password1 }}
					<span>Password</span>
				</label>
			</div>
			
			<div class="form--field--wrapper">
				<label class="form--field--label">
					{{ form.password2 }}
					<span>Confirm password</span>
				</label>
			</div>
			
			<button type="submit">Sign up</button>
		</form>
	</div>
	<div class="border--box">
		<div class="login--wrapper">
			<p>Vous avez un compte?
				<a class="link" href="{% url 'login' %}">
					Connectez vous
				</a>
			</p>
		</div>
	</div>

</div>
{% endblock %}