#chatroom {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    height: 90vh;

    border-radius: 18px;
    background: var(--secondary-color);
}

#chatroom__messages {
    flex-grow: 1;
    
    padding: 12px;

    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

#chatroom__messages::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.chatroom__message {
    display: block;
    
    max-width: 300px;

    padding: 12px;
    margin-bottom: 12px;
    
    border-radius: 12px;
    background: var(--forth-color);

    word-wrap: break-word;
}

.chatroom__message.sender {
    align-items: flex-end;
}

#chatroom__form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px;

    border-radius: 18px;
    box-shadow: 0px -4px 12px var(--primary-color);
    background: var(--secondary-color);
}

#chatroom__form label {
    flex: 1;
}

#chatroom__form label input {
    width: 100%;
}