nav {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 12px 0px;

    a h1 {
        font-size: 18px;
        pointer-events: none;
    }
    div {
        display: flex;
        a {
            text-decoration: none;
            margin-left: 18px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            font-size: 16px;
            img {
                width: 16px;
                height: 16px;
                pointer-events: none;
            }
        }
    }
}



