@import "reset.css";
@import "var.css";
@import "utils.css";
@import "nav.css";
@import "profile.css";
@import "registration.css";
@import "chat.css";
@import "chatroom.css";

body {
	background-color: var(--primary-color);
	
	font-family: "Epilogue";
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
p, a, li, span, button {
	font-family: var(--main-font-family);
	font-size: var(--default-font-size);
	color: var(--text-color);
}

#app {
	width: 100%;
	max-width: 800px;

	margin-left: auto;
	margin-right: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);

	overflow: hidden;
    display: flex;
    flex-direction: column;

    height: 90vh;
	width: 100%;

	border-radius: 18px;
}

.grid > .grid__item {
	background: var(--secondary-color);

	border-radius: 18px;
}

.grid > .grid__item > .top {
	padding: 12px;

    border-radius: 18px;
    box-shadow: 0px 4px 12px var(--primary-color);
    background: var(--secondary-color);
}

.grid > .grid__item > .main {
	flex: 1;
}


.grid > .grid__item > .bottom {
	padding: 12px;

    border-radius: 18px;
    box-shadow: 0px -4px 12px var(--primary-color);
    background: var(--secondary-color);
}
