#chat {
    grid-column: span 8;
    grid-row: span 8;
}

.chatroom-name {
    display: block;
    
    margin-bottom: 4px;

    font-size: 18px;
    font-weight: 600;
}

.chatroom-message {
    display: block;
    color: var(--text-color-light);

    font-size: 12px;
    font-weight: 400;
}