#canvas {
	position: fixed;
	top: 0;
	left: 0;
}

.scores {
	position: absolute;
	top: 5%;
	left: 0;
	width: 100%;
	padding: 24px;

	display: flex;
	justify-content: space-between;
	flex-direction: row;

	text-align: center;
	font-size: 18px;
	z-index: 1;

	& > div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		gap: 24px;
		width: 250px;
		
		background: var(--secondary-color);
		border-radius: 12px;
		padding: 12px 24px;
	
		&.opponent {
			flex-direction: row-reverse;
		}
	}
}
