nav {
	width: auto;

	display: flex;
	justify-content: space-between;
    align-items: center;

    background: var(--secondary-color);
    border-radius: 12px;

    padding: 12px;
    margin: 12px 0px;

    div {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            margin-left: 18px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            font-size: 16px;
            font-family: "Metal Mania", system-ui;
            font-style: normal;

            img {
                width: 16px;
                height: 16px;
                pointer-events: none;
            }
        }
    }
}

.lang-menu-container {
    position: relative;
    display: inline-block;
}

.language-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.lang-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondary-color);
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 120px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.lang-dropdown div {
    padding: 8px;
    cursor: pointer;
}

.lang-dropdown div:hover {
    background-color: #3f74f2;
}
