input[type=number] {
	-moz-appearance: textfield;
}

#otp-form {
	display: flex;
	flex-direction: column;
}

.otp-box {
	display: inline-block;
	width: 2.5rem;
	height: 4rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
	background: var(--fifth-color);
}

.secret-input {
	background-color: var(--second-color);
	outline: none;
	border: none;
	color: var(--second-color);
	width: 0;
	height: 0;
	caret: hidden;
}