.search {
    width: 100%;
    height: 90vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
    }

    .users {
        border-radius: 12px;
        flex: 1;
        overflow-y: scroll;

        // hide scroll bar
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .user {
            border-radius: 12px;
            padding: 12px;

            &:hover {
                background: var(--third-color);
            }

            .link {
                display: flex;
                align-items: center;
                
                    
                .name {
                    display: block;
                    margin-left: 12px;
                }                
            }
        }
    }
}
