@font-face {
	font-family: "Epilogue";
	src: url("../fonts/Epilogue-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Epilogue";
	src: url("../fonts/Epilogue-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Epilogue";
	src: url("../fonts/Epilogue-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

:root {
	--error-color: #ae3636;

	--primary-color: #1e2124;
	--secondary-color: #282b30;
	--third-color: #36393e;
	--forth-color: #424549;
	--fifth-color: #4486c9;
	--fifth-color-dark: #2362a0;

	--text-color: #fafafa;
	--text-color-light: #fafafa95;
	--text-color-dark: #181818;
}