{% extends "index.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div data-title="Home">
        {% include "navbar.html" %}
        <p>Home test</p>
        <div class="game-container">
            <div class="game-container-header">
                <input type="text" name="" id="username">
                <button class="create-game">Create Game</button>
                <button class="refresh-room">Refresh Room</button>
            </div>
            <div class="game"></div>
            <div class="rooms"></div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}

