{% extends "index.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div data-title="Home">
        {% include "navbar.html" %} <!-- Include the navbar -->
        <p>Home test</p>
        <div class="game-container"> <!-- Game Container, contain the game and the list of available rooms -->
            <div class="game-container-header">
                <input type="text" name="" id="username"> <!-- Username input -->
                <button class="create-game">Create Game</button> <!-- Create Game Button -->
                <button class="create-tournament">Create Tournament</button> <!-- Create Tournament Button -->
                <button class="refresh-room">Refresh Room</button> <!-- Refresh Room Button -->
            </div>
            <div class="game"></div> <!-- Game Container, contain the game -->
            <div class="available-games"> <!-- Available Games Container, contain the list of available games -->
                <div class="available-game"></div> <!-- Available Game Container, contain the list of available games -->
                <div class="available-tournament"></div> <!-- Available Tournament Container, contain the list of available tournaments -->
            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}

