<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Transcendence</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/var.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/utils.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">

    <script defer type="module" src="{% static 'app/js/main.js' %}"></script>
    <!-- <script defer type="module" src="{% static 'scripts/pong/dist/main.js' %}"></script> -->

</head>
<body>
<nav>
    <a href='/' data-link>
        <h1>Pong</h1>
    </a>
    <div>
        <a href='/chat/' data-link>
            <img src="/static/assets/chat.svg" alt="Chat">
        </a>
        <a href='/profile/' data-link>
            <img src="/static/assets/user.svg" alt="Profile">
        </a>
    </div>
</nav>
<div id="app"></div>
</body>
</html>
