{% load static %}
<nav>
    <div>
        <a class="nav--link" href="{% url 'home' %}">
            <img class="nav--link--svg" src="{% static 'assets/home.svg' %}" alt="Home"/>
        </a>
    </div>
    <ul>
        <li>
            <a class="nav--link" href="{% url 'chat' %}">
                <img class="nav--link--svg" src="{% static 'assets/chat.svg' %}" alt="chat"/>
            </a>
        </li>
        <li>
            <a class="nav--link" href="{% url 'profile' %}">
                <img class="nav--link--svg" src="{% static 'assets/user.svg' %}" alt="Profile"/>
            </a>
        </li>
    </ul>
</nav>