<nav-component></nav-component>
<div class="chatroom">
    <div ref="messages" class="messages"></div>
    <div class="form-container">
        <div class="bottom-bar">
            <form ref="form" class="form">
                <div class="input">
                    <input ref="input" type="text" placeholder="Write a message..." autocomplete=off></input>
                </div>
                <button type="submit" class="button ml__12">Send</button>
            </form>
            <button class="button duel-invite">Invite</button>
        </div>
    </div>
</div>
