<nav-component></nav-component>
<div class="container bg-gray-800 d-flex justify-content-between rounded">
    <div></div>
    <div>
        <form ref="form" action="PUT">
            <div class="d-flex flex-column align-items-center mb-2">
                <div class="profile-picture-large mb-2">
                    <img ref="picture-preview" alt="Profile picture" />
                </div>
                <div class="btn btn-primary">
                    <label for="file-upload"  class="form-label text-white m-1">Change picture</label>
                    <input ref="picture-input" id="file-upload" class="form-control d-none" type="file" />
                </div>
            </div>
            <input ref="username" class="w-100 form-control mb-2" type="text" placeholder="Username" autocomplete="off" required="True" />
            <input ref="email" class="w-100 form-control mb-2" type="email" placeholder="Email" autocomplete="off" required="True" />
            <input ref="bio" class="w-100 form-control mb-2" type="bio" placeholder="Something about you" autocomplete="off" required="True" />
            <button type="submit" class="w-100 btn btn-primary">Edit profile</button>
        </form>
    </div>
</div>