<div class="scores">
	<div class="player">
		<h3 class="username"></h3>
		<h3 class="score">0</h3>
	</div>

	<div class="opponent">
		<h3 class="username"></h3>
		<h3 class="score">0</h3>
	</div>
</div>
<div id="result" hidden>
	<h1 id="wol"></h1>
	<h3 id="resmsg"></h3>
	<div id="firework1" class="firework" hidden></div>
	<div id="firework2" class="firework" hidden></div>
	<div id="firework3" class="firework" hidden></div>
	<div class="butdiv">
		<button id="leave-game" class="button leave">Leave Game</button>
	</div>
</div>

<canvas id="canvas"></canvas>
