<div>
    <div class="container-flex start">
        <div class="profile-picture">
            <img ref="playerPicture"></img>
        </div>
        <p ref="playerUsername"></p>
    </div>
    <div>
        <span ref="playerScore"></span>
        <span>VS</span>
        <span ref="opponentScore"></span>
    </div>
    <div class="container-flex end">
        <p ref="opponentUsername"></p>
        <div class="profile-picture">
            <img ref="opponentPicture"></img>
        </div>
    </div>
</div>