<nav-component></nav-component>
<div class="home">
	<div class="game-container">
		<h4>Online game</h4>
		<p>Play an online game versus another player,<br>
		first player to 5 points will win the game.</p>
		<button class="button create-game">Play</button>
	</div>

	<div class="local-container">
		<h4>Local game</h4>
		<p>Play a local game against a friend,<br>
		first player use arrow key, second one use Q/D.</p>
		<button class="button create-local">Play</button>
	</div>

	<div class="tournament-container">
		<h4>Online tournament</h4>
		<p>Play in an online tournament,<br>
		versus 3 other players.</p>
		<button class="button create-tournament">Play</button>
	</div>
</div>

<div class="loading-screen">
    <div class="loading" style="margin-bottom: 12px;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    <div>
        <p>Waiting for other players...</p>
    </div>
    <div>
        <button id="cancel-matchmaking" class="button">Cancel</button>
    </div>
</div>