<div>
    <NavComponent></NavComponent>
    <div class="game-container">
	    <div class="game-container-header">
	    	<button class="create-game">Join Game</button>
	    	<button class="create-tournament">Join Tournament</button>
	    	<button class="refresh-room">Refresh Room</button>
	    	<div class="settings">
	    	    <input type="radio" name="none" id="none" />
	    	    <input type="radio" name="storm" id="storm" />
	    	    <input type="radio" name="wind" id="wind" />
	    	    <input type="radio" name="geo" id="geo" />
	    	</div>
	    </div>
	    <div class="container">
	        <div class="user-list"></div>
	        <div class="game"></div>
	    </div>
	    <div class="available-games">
	    	<div class="available-game"></div>
	    	<div class="available-tournament"></div>
	    </div>
	</div>
	<script src="/src/scripts/pong/dist/main.js"></script>
</div>