<nav-component></nav-component>
<div class="game-container">
    <div class="game-container-header">
    	<button class="create-game">Join a Game</button>
    	<button class="create-tournament">Join a Tournament</button>
		<div class="waiting-for-players">
			<p>Waiting for players to join...</p>
			<div class="queue-animation">
				<div class="animation-paddle"></div>
				<div class="animation-ball"></div>
				<div class="animation-paddle"></div>
			</div>
		</div>
	</div>
	<div class="game">
		<canvas class="game-canvas"></canvas>
	</div>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</div>