<div class="min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="container-xxs box-container px-4 py-4">
        <div class="mb-4">
            <h2>Hello,</h2>
            <p>We are happy to see you</p>
        </div>
        <form ref="form" action="POST" class="mb-2">
            <div ref="error" class="hidden registration-form-error"></div>
            <input ref="username" class="form-control mb-3" placeholder="Username" type="text" autocomplete="off" required="True" />
            <input ref="password" class="form-control mb-2" placeholder="Password" type="password" autocomplete="off" required="True" />
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="d-flex align-items-center">
                    <input ref="remember-me" id="remember-me" type="checkbox" />
                    <label for="remember-me" class="mx-1">Remember me</label>
                </div>
                <a href="/" data-link="">Forgot password?</a>
            </div>
            <button type="submit" class="button w-100">Login</button>
        </form>
        <button class="button w-100 mb-3" ref="ft_auth" id="ft_auth">Login with 42</button>
        <span class="d-flex justify-content-center">
            <p>Doesn't have account yet? <a href="/signup/" data-link="">Sign up</a></p>
        </span>
    </div>
</div>