<div class="min-vh-100 d-flex flex-column align-items-center justify-content-center">
	<div class="container-xxs  box-container px-4 py-4">
		<div class="mb-4">
            <h2 class="mb-0">One more step,</h2>
            <p>We sent you a One Time Password to the email you provided to sign up.</p>
        </div>
		<form ref="form" class="d-flex flex-column" action="POST">
			<label for="input" ref="label" class="otp-label mb-2">
				<span class="otp-box"></span>
				<span class="otp-box"></span>
				<span class="otp-box"></span>
				<span class="otp-box"></span>
				<span class="otp-box"></span>
				<span class="otp-box"></span>
			</label>
			<input class="secret-input" ref="input" id="input" type="text" maxlength="6" autocomplete="one-time-code" required="True" />
			<button class="btn btn-primary" type="submit">Login</button>
		</form>
	</div>
</div>