<div class="container-fp">
    <form ref="form" id="otp-form" action="POST">
		<div class="otp-box-container">
			<span class="otp-box"></span>
			<span class="otp-box"></span>
			<span class="otp-box"></span>
			<span class="otp-box"></span>
			<span class="otp-box"></span>
			<span class="otp-box"></span>
		</div>
		<input class="secret-input" ref="input" placeholder="Enter your code" type="text" maxlength="6" autocomplete="one-time-code" required="True" />
		<button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>

