<nav-component></nav-component>
<div class="container">
    <div id="profile" class="d-flex">
        <div class="profile-picture-large">
            <img src="/assets/default.png" ref="profilePicture" alt="Profile picture" />
        </div>
        <div style="margin-left: 1rem;">
            <h2 ref="profileUsername" class="m-0"></h2>
            <div ref="profileButton"></div>
        </div>
    </div>
    <div id="friends" class="grid-item">
        <div class="top">
            <h4 class="text-l">Friends</h4>
        </div>
        <ul ref="friends"></ul>
    </div>
    <div id="games" class="grid-item">
        <div class="top">
            <h4 class="text-l">Games</h4>
        </div>
        <ul ref="games"></ul>
    </div>
    <div id="stats" class="grid-item">
        <div class="top">
            <h4 class="text-l">Stats</h4>
        </div>
    </div>
</div>