<div>
    <NavComponent></NavComponent>
    <div class="grid">
        <div id="profile" class="grid-item center">
            <div class="container-flex">
                <div class="profile-picture-large">
                    <img ref="profilePicture" alt="Profile picture" />
                </div>
                <div>
                    <h2 ref="profileUsername" class="text-xl"></h2>
                    <div ref="profileButton" ></div>
                </div>
            </div>
        </div>
        <div id="friends" class="grid-item">
            <div class="top">
                <h4 class="text-l">Friends</h4>
            </div>
            <ul ref="friends"></ul>
        </div>
        <div id="games" class="grid-item">
            <div class="top">
                <h4 class="text-l">Games</h4>
            </div>
            <ul ref="games"></ul>
        </div>
        <div id="stats" class="grid-item">
            <div class="top">
                <h4 class="text-l">Stats</h4>
            </div>
        </div>
    </div>
</div>