<div class="min-vh-100 d-flex flex-column justify-content-center">
    <div class="container-xxs box-container px-4 py-4">
        <div class="mb-4">
            <h2 class="mb-0">Hello,</h2>
            <p>We are happy to see you</p>
        </div>
        <form ref="form" action="POST">
            <div ref="error" class="hidden"></div>
            <input ref="username" class="form-control mb-3" placeholder="Username" type="text" autocomplete="off" required="True" />
            <input ref="email" class="form-control mb-3" placeholder="Email" type="email" autocomplete="off" required="True" />
            <input ref="password" class="form-control mb-3" placeholder="Password" type="password" autocomplete="off" required="True" />
            <input ref="passwordConfirmation" class="form-control mb-4" placeholder="Password confirmation" type="password" autocomplete="off" required="True" />
            <button type="submit" class="btn btn-primary w-100">Sign up</button>
        </form>
    </div>
    <div class="container-xxs box-container text-center py-3 mt-4">
        <a href="/login/" data-link="">Login</a>
    </div>
</div>