<div class="min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="container py-2xl px-xl">
        <div>
            <p class="text-xl mb-2xs" data-translate-key="hello">Hello,</p>
            <p class="text-md mb-xl" data-translate-key="welcome_message">We are happy to see you</p>
        </div>

        <form ref="form" action="POST">
            <div class="input mb-md">
                <input id="username" data-translate-key="username_placeholder" placeholder="Username" type="text" autocomplete="off" required="True" />
                <label for="username" class="hidden">X</label>
            </div>

            <div class="input mb-md">
                <input id="email" data-translate-key="email_placeholder" placeholder="Email" type="email" autocomplete="off" required="True" />
                <label for="email" class="hidden">X</label>
            </div>

            <div class="input mb-md">
                <input id="password" data-translate-key="password_placeholder" placeholder="Password" type="password" autocomplete="off" required="True" />
                <label for="password" class="hidden">X</label>
            </div>

            <div class="input mb-md">
                <input id="passwordConfirmation" data-translate-key="passwordconfirmation_placeholder" placeholder="Password confirmation" placeholder="Password confirmation" type="password" autocomplete="off" required="True" />
                <label for="passwordConfirmation" class="hidden">X</label>
            </div>

            <button type="submit" class="button w-100 mb-xl" data-translate-key="Signup_button">Sign up</button>
        </form>

        <span class="d-flex justify-content-center">
            <p data-translate-key="already_registered"></p>
        </span>
    </div>
</div>
